name: Databricks Notebooks Deployment

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main
  #     - dev

jobs:
  deploy-notebooks:
    runs-on: windows-latest
    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Step 2: Install Databricks CLI
      - name: Install Databricks CLI
        shell: pwsh
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
          iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
          choco install databricks-cli -y

      # Step 3: Authenticate Databricks Workspace
      - name: Authenticate Databricks Workspace
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path $env:USERPROFILE\.databricks
          @"
          [PROD]
          host = ${{ vars.PROD_DATABRICKS_HOST }}
          client_id = ${{ vars.DATABRICKS_CLIENT_ID }}
          client_secret = ${{ secrets.DATABRICKS_CLIENT_SECRET }}
          [QA]
          host = ${{ vars.QA_DATABRICKS_HOST }}
          client_id = ${{ vars.DATABRICKS_CLIENT_ID }}
          client_secret = ${{ secrets.DATABRICKS_CLIENT_SECRET }}
          "@ | Out-File -FilePath "$env:USERPROFILE\.databrickscfg" -Encoding utf8
          icacls "$env:USERPROFILE\.databrickscfg" /inheritance:r /grant:r "$env:USERNAME:F"
          
          Write-Host "Testing Databricks authentication..."
          databricks auth profiles

      # Step 4: Deploy Databricks bundle
      - name: Deploy Databricks bundle
        shell: pwsh
        env:
          DATABRICKS_CONFIG_PROFILE: QA
        run: |
          cd AMALDAB
          
          echo "Current directory: $(Get-Location)"
          echo "Files in current directory:"
          Get-ChildItem
          
          # Install bundle dependencies
          databricks bundles install
          
          # Validate and deploy
          databricks bundle test -t dev
          # databricks bundle deploy -t dev
          
          echo "Deployment completed successfully!"
